// General

*,
*::before,
*::after {
  box-sizing: border-box;
}

// Body

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  background: rgb(9, 7, 20);
  background: linear-gradient(25deg, rgba(9, 7, 20, 1) 49%, rgb(14, 0, 58) 100%);
  color: white;
}

// Buttons

button {
  border: none;
  padding: 0.5em;
  border-radius: 10px;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
}

// Headers

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
}
