// Add Form

.formWrapper {
  margin-bottom: 1.5em;
}

.inputLabel {
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1.5em;
}

#todoInput {
  display: block;
  width: 80%;
  margin: 0 auto;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  margin-bottom: 1.5em;
  color: white;

  &:focus {
    outline-color: white;
  }
}

.addTodo {
  display: block;
  width: 40%;
  margin: 0 auto;
  background-color: #ffffff;
  color: #090714;
  font-size: 1.25em;

  &:focus {
    outline: none;
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }
}
