// Todo Buttons

.todoButtons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;

  .completeButton,
  .deleteButton {
    outline-color: white;
    padding: 0;
    margin: 0.5em 0;
    background-color: transparent;
    color: white;
    font-size: 1.25em;
  }
}
