// Todo Item

.todoItem {
  list-style-type: none;
  display: flex;
  // justify-content: space-around;
  padding: 0 1em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid white;

  .todoText {
    display: block;
    height: 50%;
    width: 80%;
    margin: auto 0;
    font-size: 1.5em;
  }
}
